body {
  margin-top: 500px;
  font-family: 'nanumsquare';
}

div {
  text-align: center;
}

h1 {
  transform: translateX(-50%);
  opacity: 0;
  transition: 5s;
  margin: 1000px 0 1000px 0;
}

h1.active {
  transform: translateX(0);
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}